@{
    ViewData["Title"] = "Meltem Ergül";
}

<section class="hero">

    <h1>Meltem Jüllide Taşkıran</h1>


    <div class="typing">

        <span>I build as </span>

        <span id="typed"></span>

    </div>

    <p>

        ASP.NET Core • C# • SQL Server • React Native • Docker

    </p>

    <div class="buttons">

        <a href="#projects" class="btn-primary">
            Projelerim
        </a>

        <a href="#contact" class="btn-outline">
            İletişim
        </a>

    </div>

</section>