<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - personal_portfolio</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/personal_portfolio.styles.css" asp-append-version="true" />
</head>
<header>
    <nav class="navbar">

        <a href="#" class="logo">
            Meltem Jülide Taşkıran
        </a>

        <ul>

            <li><a href="#about">Hakkımda</a></li>

            <li><a href="#experience">Deneyim</a></li>

            <li><a href="#projects">Projeler</a></li>

            <li><a href="#skills">Yetenekler</a></li>

            <li><a href="#contact">İletişim</a></li>

        </ul>

    </nav>
</header>

 
<body>

    <main>
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.1.0/dist/typed.umd.js"></script>

    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="~/js/site.js"></script>